html {
  box-sizing: border-box;
  width: 960px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.product {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

img {
  margin-bottom: 30px;
  height: 300px;
  width: 200px;
}

.buybutton {
  background-color: #1b1a20;
  color: white;
  margin-top: 10px;
  padding: 15px 0;
  width: 100%;
}

.wrapper {
  display: block;
}

.buybutton:focus {
  outline: none;
}

.cartbutton {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
}

.cart {
  position: absolute;
  top: 0px;
  right: 50px;
  height: 1000px;
}
